{% extends 'base.html.twig' %}

{% block title %}{{ site_name }}: {% trans %}new User{% endtrans %}{% endblock %}

{% block body %}
<main id="main">

    <!-- ======= Blog Section ======= -->
    <section class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>{% trans %}User{% endtrans %}</h2>

                <ol>
                    <li><a href="{{ path('home') }}">{% trans %}Home{% endtrans %}</a></li>
                    <li>{% trans %}Admin Index{% endtrans %}</li>
                </ol>
            </div>

        </div>
    </section><!-- End Blog Section -->

    <!-- ======= Blog Section ======= -->
    <section id="blog" class="blog">
        <div class="container" data-aos="fade-up">

            <div class="row d-flex justify-content-center mb-5">
                <div class="col">
                    <h1>{% trans %}Create new User{% endtrans %}</h1>

                    {{ include('user/_form.html.twig') }}

                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}